.data {
  height: 500px;
  float: left;
}
p {
  float: left;
}

.empty-message {
  padding: 40px;
  color: gray;
}

.disabled {
  cursor: not-allowed;
  color: gray;
  text-decoration: none;
}
